.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    font-size: 50px;
    font-weight: bold;
    color: #c4c4c4;
  }
}