.container {
  padding: 15px 0 90px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  padding: 20px 0 25px;
}

.wrapper{
  display: flex;
  justify-content: center;
}

.slogan {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    font-size: 50px;
    font-weight: bold;
    color: #c4c4c4;
  }
}

.count {
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;
}