.container {
  padding: 15px 0 90px;
  // костыль. попробовать избавиться с помощью лоадера
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  padding: 20px 0 25px;
}

.wrapper{
  display: flex;
  justify-content: center;
}



.count {
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;
}