.button {
  height: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  text-decoration: none;
  color: black;
  transition: .2s;

  &:hover {
    opacity: 0.8;
  }
}
